#titulo {
    color: var(--cor-texto);
    text-align: center;
    margin: 0 0 1.5em 0;
    font-family: 'Articulat';
    font-size: 3em;
    color: var(--cor-texto);
    width: 90%;
    max-width: 672px;
    margin: 0 auto;
}

#input-buscar {
    text-align: center;
    margin: 2em auto;
    position: relative;
    width: 90%;
    max-width: 30em;
}

#buscar-alimento {
    padding: 1em; 
    border-radius: 50px;
    border: 2px solid var(--cor-texto);
    color: var(--cor-texto);
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

#search-icone {
    position: absolute;
    right: 1.5em; 
    top: 50%;
    transform: translateY(-50%); 
    color: var(--cor-principal);
}

#buscar-alimento:focus {
    border: 2px solid var(--cor-principal);
}

#alimentos {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.alimentos-calorias {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.178);
    border-radius: 5px;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    cursor: pointer;
    padding: 1em;
}

.nome-alimento {
    font-size: 1.2em;
    list-style: none;
    color: var(--cor-principal);
    font-family: 'Articulat';
    letter-spacing: .5px;
}
#seta-baixo {
    font-size: .6em;
    padding-left: .2em;
    color: black;
}

.informacoes-alimentos {
    color: rgb(36, 36, 36);
    list-style-type: none;
}

.valores-span {
    font-weight: bold;  
}

/* #alimentos:has(.alimentos-calorias:hover) .alimentos-calorias:not(:hover) {
    opacity: .4;
    scale: .98;
} */

#erros {
    color: var(--cor-erro);
    text-align: center;
    display: none;
}

#img-comidas-saudaveis {
    width: 80%;
    max-width: 900px;
    padding: 3em 0;
}
