#titulo {
    color: var(--cor-texto);
    text-align: center;
    margin: 0 0 1.5em 0;
    font-family: 'Articulat';
    font-size: 3em;
    color: var(--cor-texto);
    width: 90%;
    max-width: 672px;
    margin: 0 auto;
}

#input-buscar {
    text-align: center;
    margin: 2em auto;
    position: relative;
    width: 90%;
    max-width: 30em;
}

#buscar-alimento {
    padding: 1em; 
    border-radius: 50px;
    border: 2px solid var(--cor-texto);
    color: var(--cor-texto);
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

#search-icone {
    position: absolute;
    right: 1.5em; 
    top: 50%;
    transform: translateY(-50%); 
    color: var(--cor-principal);
}

#buscar-alimento:focus {
    border: 2px solid var(--cor-principal);
}

#alimentos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}

.alimentos-calorias {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.178);
    border-radius: 10px;
    width: 90%;
    max-width: 350px;
    padding: 1em 2em;
    display: none;
}

.alimentos-calorias h1 {
    color: var(--cor-principal);
    font-size: 1.5em;
    margin-bottom: .5em;
}

.alimentos-calorias p {
    color: var(--cor-texto);
    font-size: 1.1em;
    margin: .5em 0;
}

.valores-span {
    font-weight: bold;
}


#erros {
    color: var(--cor-erro);
    text-align: center;
}

#img-comidas-saudaveis {
    width: 80%;
    max-width: 900px;
    padding: 3em 0;
}
