@media screen and (min-width: 1200px) {
    #header-article {
        width: 53%;
    }

    #main {
        padding-bottom: 10em;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {   
    #header article {
        width: 70%;
    } 

    #main {
        padding-bottom: 10em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #header article {
        width: 80%;
    }

    #main {
        padding-bottom: 10em;
    }
}

@media only screen and (min-width:601px) and (max-width: 767px) {
    #header article {
        width: 80%;
    }

    #main {
        padding-bottom: 10em;
    }

    #navbar a {
        font-size: .8em;
        padding: 1.3em .3em 1em .3em;
    }
}

    @media only screen and (max-width: 600px) {
        #header article {
            width: 100%;        
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.070);
            position: fixed;
            top: 0;
            background-color: rgb(255, 255, 255);
            z-index: 9999;
        }

        #navbar {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin-top: 4.7em;
        }
    
        #navbar a {
            width: 100%;
            margin: 0 auto;
        }

        #main {
            padding-bottom: 13em;
        }

        #sec-login {
            width: 95%;
        }

        #formu a {
            transform: translateX(-2.5em);
        }

        #sec-login #a-face, #sec-login #a-google {
            text-align: center;
        }

        #a-google i, #a-face i {
            padding: 0 1em;
        }

        #sec-login input, .ancora-login {
            width: 95%;
        }


    }

    @media screen and (max-width: 420px) {
        #header article a {
            font-size: .8em;
        }
        
        #header article p {
            font-size: 1.6em;
        }

        #navbar {
            margin-top: 3.7em;
        }

        #formu a {
            transform: translateX(-3.3em);
        }

        #sec-login {
            width: 100%;
        }

        #sec-login input, .ancora-login {
            width: 100%;
        }

        #sec-login #a-face, #sec-login #a-google {
            font-size: .9em;
        }
    }
