@font-face {
font-family: "Articulat";
    src: url('../fonte/ArticulatCFHeavy.otf');
}

:root {
    --cor-principal: #0066ee;
    --cor-hover: #014fb6;
    --cor-texto: #212121;
    --cor-secundaria: #3a3a3a;
    --cor-dark: #1d1d1d;
    --cor-branco: white;
    --cor-fundo: #f6f6f8;
    --cor-grey-dark: rgb(211, 211, 211);
    --cor-erro: rgb(253, 53, 53);
    --cor-shadow-branco: rgba(255, 255, 255, 0.233);
    --cor-shadow-preto: rgba(0, 0, 0, 0.13);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: .5s ease;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 250px;
}

#bg-color {
    color: var(--cor-branco);
}
#header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .9em 9em;
    box-shadow: 2px 2px 8px var(--cor-shadow-preto);
    margin-bottom: 4.5em;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: var(--cor-branco);
}

#header article {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header p {
    color: var(--cor-principal);
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
}

#calc-calorias-link {
    color: var(--cor-principal);
    text-decoration: none;
    color: var(--cor-principal);
}
#calc-calorias-link:hover {
    text-decoration: underline;
}

#btn-e-login {
    display: flex;
    align-items: center;
    gap: 0 3em;
}

#btnNoturno {
    background-color: transparent;
    border: none;
    font-size: 1.3em;
    cursor: pointer;
    color: var(--cor-principal);
}

#menu-navbar {
    background-color: transparent;
    border: none;
    color: var(--cor-principal);
    font-size: 1.5em;
    display: none;
    cursor: pointer;
}

#header a {
    text-decoration: none;
}

#login {
    font-family: 'Articulat';
    color: var(--cor-texto);
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: 1px;
}

#main {
    max-width: 1345px;
    margin: 0 auto;
    padding-top: 130px;
}
 
#section-comece {
    display: flex;
    gap: 4em;
    padding: .9em 12em;
    align-items: center;
}

#title-comece {
    font-family: 'Articulat';
    font-size: 3.8em;
    line-height: 63px;
    color: var(--cor-texto);
}

#paragrafo-comece {
    line-height: 24px; 
    font-size: 1.05em;
    color: var(--cor-secundaria);
    margin-bottom: 2em;
}
.txtAzul {
    font-weight: bolder;
    color: var(--cor-principal);
}

#section-comece img {
    width: 50%;
}

.section-comece_article a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--cor-principal);
    padding: 1.1em 3.8em;
    color: var(--cor-branco);
    border-radius: 4px;
}

.section-comece_article a:hover {
    background-color: var(--cor-hover);
    transition: .4s;
}

#section-registro-alimento {
    display: flex;
    align-items: center;
    gap: 2em;
    padding: .9em 12em;
    margin-top: 4.5em;
}

#section-registro-alimento img {
    width: 44%;
}

#subtitle-registre {
    font-size: 3.1em;
    color: var(--cor-texto);
    font-family: 'Articulat';
    line-height: 53px;
    margin-bottom: .3em;
}

#paragrafo-registre {
    color: var(--cor-secundaria);
    line-height: 25px;
    font-size: .97em;
    width: 94%;
}

#section-ferramentas_article {
    text-align: center;
    margin-top: 6em;
}

#subtitle-ferramentas {
    font-size: 3.1em;
    color: var(--cor-texto);
    font-family: 'Articulat';
    line-height: 53px;
}

#paragrafo-ferramentas {
    color: var(--cor-secundaria);
    line-height: 25px;
    font-size: .97em;
    width: 38%;
    margin: 1em auto;
}

#ferramentas-metas {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 6em;
}

#ferramentas-metas div {
    width: 300px;
    text-align: center;
    margin-top: 2em;
}

#ferramentas-metas img {
    padding: 30px;
    border-radius: 100%;
    box-shadow: 0px 1px 10px var(--cor-shadow-preto);
}

.subtitle-metas {
    font-size: 1.3em;
    color: var(--cor-texto);
    margin-top: 1.7em;
}

#ferramentas-metas p {
    color: var(--cor-secundaria);
    line-height: 25px;
    font-size: 1em;
    width: 95%;
    margin: 0 auto;
    margin-top: 1.7em;
}

#calc-imc {
    text-align: center;
    width: 43em;
    height: 25em;
    box-shadow: 0px 0px 5px var(--cor-shadow-preto);
    border-radius: 20px;
    padding: 3em 2em 20em 2em;
    margin: 0 auto;
    box-sizing: border-box;
}

#calc-imc h2::before {
    content: "";
    position: absolute;
    border-bottom: 2px solid var(--cor-texto);
    left: 0;
    right: 0;
    width: 150px;
    height: 50px;
    margin: 0 auto;
}

#calc-imc h2 {
    position: relative;
    font-family: 'Articulat';
    color: var(--cor-texto);
    font-size: 2.5em;
    margin-bottom: .5em;
}

#calc-imc label {
    color: var(--cor-texto);
    font-size: 1.2em;
}

#calc-imc input {
    padding: 10px;
    margin-top: 1em;
    border-radius: 8px;
    border: 1px solid var(--cor-texto);
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.divCalc button {
    margin: 1.5em auto;
    padding: 15px;
    width: 43%;
    border-radius: 8px;
    border: none;
    background-color: var(--cor-principal);
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    display: block;
}

.divCalc button:hover {
    background-color: var(--cor-texto);
    color: var(--cor-branco);
    transition: .2s;
}

#resultado {
    color: var(--cor-dark);
}

#section-receitas {
    text-align: center;
    margin-top: 6em;
}

#section-receitas div {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#section-receitas h2 {
    font-size: 3.1em;
    color: var(--cor-texto);
    font-family: 'Articulat';
    line-height: 53px;
}

#section-receitas p {
    color: var(--cor-secundaria);
    line-height: 25px;
    font-size: 1em;
    width: 50%;
    margin: 1em auto;
}

#section-receitas img {
    width: 300px;
    border-radius: 10px 10px 0px 0px;
}

#section-receitas article {
    margin-top: 2em;
    width: 300px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 5px var(--cor-shadow-preto);
}

#section-receitas article a {
    text-decoration: none;
}

#section-receitas article h3 {
    font-size: 1.1em;
    width: 85%;
    text-align: left;
    padding: 1em .8em 0 1em;
    color: var(--cor-texto);
}

#section-receitas article p {
    text-align: left;
    padding: .6em 1em .8em 1em;
    margin: 0;
    width: 100%;
    font-weight: bold;
    color: var(--cor-principal);
}

#section-conecte {
    text-align: center;
    margin: 6em 0;
}
#section-conecte h2 {
    font-size: 3.1em;
    color: var(--cor-texto);
    font-family: 'Articulat';
    line-height: 53px;
    width: 30%;
    margin: 0 auto;
}

#section-conecte p {
    color: var(--cor-secundaria);
    line-height: 25px;
    font-size: 1em;
    width: 39%;
    margin: 1em auto;
}

#section-conecte img {
    width: 620px;
    margin-top: 1.4em;
}

#footer {
    text-align: center;
    background-color: var(--cor-fundo);
    padding: 1em;
}

#footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footer li {
    list-style-type: none;
}
#footer a {
    font-family: 'Articulat';
    color: var(--cor-texto);
    text-transform: uppercase;
    font-size: .85em;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 0 1em;
}
