#header {
    justify-content: center;
    gap: 40em;
    padding: 1.3em;
}

#header p {
    font-size: 2em;
}

#entrar a {
    color: #1943CF;
    font-size: .9em;
    align-items: center;
    letter-spacing: 1px;
}

.entrar_after::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 18px;
    background-color: #E6E6E6;
    margin: 0 .4em;
    margin-bottom: -.3em;
}

.register {
    margin-left: -.2em;
}