@font-face {
    font-family: "Articulat";
        src: url('../fonte/ArticulatCFHeavy.otf');
    }
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }


    /* font-family: 'Articulat'; */


#header article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.1em;
    gap: 39em;
}

#header article a {
    text-decoration: none;
    color: #365cda;
    font-size: .95em;
}

#header article p {
    font-family: 'Articulat'; 
    font-size: 2.2em;
    color: #0066EE;
}

.entrar_after::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 18px;
    background-color: #E6E6E6;
    margin: 0 .4em;
    margin-bottom: -.3em;
}

#navbar {
    padding: .8em;
    text-align: center;
    background-color: #0066EE;
}

#navbar a {
    text-decoration: none;
    font-family: 'Articulat';
    color: white;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: 1px;
    padding: 1em;
}

#navbar a:hover {
    background-color: #00548B;
}

#sec-login {
    text-align: center;
}

