@font-face {
    font-family: "Articulat";
        src: url('../fonte/ArticulatCFHeavy.otf');
    }
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }


    /* font-family: 'Articulat'; */


#header article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.1em;
    gap: 39em;
}

#header article a {
    text-decoration: none;
    color: #365cda;
    font-size: .95em;
}

#header article p {
    font-family: 'Articulat'; 
    font-size: 2.2em;
    color: #0066EE;
}

.entrar_after::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 18px;
    background-color: #E6E6E6;
    margin: 0 .4em;
    margin-bottom: -.3em;
}

#navbar {
    padding: .8em;
    text-align: center;
    background-color: #0066EE;
}

#navbar a {
    text-decoration: none;
    font-family: 'Articulat';
    color: white;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: 1px;
    padding: 1em;
}

#navbar a:hover {
    background-color: #00548B;
}

#sec-login {
    text-align: center;
}

#sec-login {
    border: 1px solid black;
    width: 500px;
    margin: 0 auto;
    padding: 3em 1em;
    margin-top: 3em;
}

.login {
    font-family: 'Articulat';
    font-size: 1.3em;
    color: #212121;
    margin-bottom: 1.5em;
}

#sec-login input {
    padding: 1.1em;
    display: flex;
    margin: 0 auto;
    width: 80%;
    margin-top: .5em;
    border-radius: 4px;
}

.paragrafo {
    margin: .7em 0;
    text-transform: lowercase;
    color: #4d4d4d;
}

.input-center {
    justify-content: center;
    border: none;
    cursor: pointer;
    font-family: 'Articulat';
    color: white;
    font-size: 1em;
    letter-spacing: 1px;
}

.input-login {
    border: 1px solid rgba(0, 0, 0, 0.233);
    font-size: 1em;
}

.input-login:focus {
    outline: none;
    border: 2px solid #0066EE;
}

#sec-login a {
    display: block;
    text-align: left;
    font-size: .9em;
    text-decoration: none;
    color: #0066EE;
    padding: 1em 0 1em 3.3em;
}

#input-entrar {
    background-color: #0066EE;
}

.ancora-login {
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    border-radius: 4px;
    margin-bottom: .5em;
    border: none;
}

#a-google {
    background-color: #EBEBF0;
    color: #212121;
}

#a-face {
    background-color: #4267B2;
}
