@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #header {
        padding: .9em 2em;
    }

    #header article {
        padding: .1em 0;
    }

    #section-comece {
        gap: 2em;
        padding: .9em 4em;
    }

    #section-registro-alimento {
        padding: .9em 3em;
    }

    #section-ferramentas_article p {
        width: 60%;
    }

    #ferramentas-metas div {
        width: 260px;
    }

    #section-receitas p {
        width: 60%;
    }

    #section-receitas div {
        gap: 1em;
    }

    #section-conecte h2 {
        width: 55%;
    }

    #section-conecte p {
        width: 60%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #header {
        padding: .9em 2em;
    }

    #header article {
        padding: .3em 0;
    }

    #section-comece {
        flex-direction: column;
        text-align: center;
        padding: .9em 5em;
    }

    .section-comece_article p {
        width: 70%;
        margin: 0 auto 2em;
    }
    
    #section-comece img {
    width: 80%;
    }

    #section-registro-alimento {
        flex-direction: column-reverse;
        padding: .9em 4em;
        text-align: center;
    }

    #section-registro-alimento p {
        margin: 0 auto;
    }

    #section-registro-alimento img {
    width: 75%;
    margin-top: -2em;
    }

    #section-ferramentas_article p {
    width: 75%;
    }

    #ferramentas-metas div {
        width: 220px;
    }

    #ferramentas-metas img {
        padding: 18px;
    }

    
    #ferramentas-metas h3 {
    font-size: 1.1em;
    }

    #section-receitas p {
    width: 80%;
    }

    #section-receitas img {
    width: 220px;
    }

    #section-receitas article {
    width: 220px;
    }

    #section-receitas article h3 {
    width: 90%;
    line-height: 24px;
    }

    #section-conecte h2 {
    width: 70%;
    }

    #section-conecte p {
        width: 80%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    #header {
        padding: .9em 2em;
    }

    #header article {
        padding: .6em 0;
    }

    #header p {
        font-size: 1.7em;
    }

    #header a {
        font-size: 1.1em;
    }

    #section-comece {
        flex-direction: column;
        text-align: center;
        padding: .9em 2em;
    }

    .section-comece_article h1 {
    font-size: 4em;
    }

    .section-comece_article p {
        width: 80%;
        margin: 0 auto 2em;
    }

    #section-comece img {
        width: 90%;
    }

    #section-registro-alimento {
        flex-direction: column-reverse;
        padding: .9em 2em;
        text-align: center;
    }

    #section-registro-alimento p {
    margin: 0 auto;
    }
    #section-registro-alimento img {
        width: 90%;
    }

    #section-ferramentas_article p {
    width: 75%;
    }

    #ferramentas-metas div {
        width: 150px;
    }

    #section-receitas p {
    width: 82%;
    }

    #section-receitas img {
    width: 170px;
    }
    
    #section-receitas article {
    width: 170px;
    }

    #section-receitas article h3 {
    font-size: 1.17em;
    width: 90%;
    }

    #section-conecte h2 {
    width: 70%;
    }
    
    #section-conecte p {
    width: 75%;
    }

    #section-conecte img {
    width: 80%;
    margin-top: 2em;
    }

    #footer a {
        line-height: 2.5em;
    }
}

@media only screen and (max-width: 599px) {
    #header {
        padding: .9em 2em;
        margin-bottom: 0;
    }

    #header article {
        padding: 0;
    }

    #header p {
        font-size: 1.6em;
    }

    #header a {
        font-size: .9em;
    }

    #main {
        padding-top: 75px;
    }

    #section-comece {
        flex-direction: column;
        padding: .9em 1.1em;
        text-align: center;
    }

    .section-comece_article h1 {
        font-size: 2.1em;
        line-height: 35px;
        width: 90%;
        margin: 0 auto .3em;
    }

    #comece-button {
        text-align: center;
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .section-comece_article p {
        width: 100%;
    }

    #section-comece img {
        width: 90%;
    }

    #section-registro-alimento {
        padding: .9em 1.1em;
        flex-direction: column-reverse;
        margin-top: 1.3em;
        text-align: center;
    }
    #section-registro-alimento h2 {
        font-size: 1.6em;
        line-height: 27px;
    }

    #section-registro-alimento p {
        width: 97%;
        font-size: .9em;
        line-height: 20px;
        margin: 0 auto;
    }

    #section-registro-alimento img {
        width: 100%;
        margin-top: -2em;
    }

    #section-ferramentas_article h2 {
        font-size: 1.6em;
        line-height: 27px;
    }

    #section-ferramentas_article p {
        width: 97%;
        font-size: .9em;
        line-height: 20px;
        margin: .5em 0 0 0;
    }

    #section-ferramentas_article {
    padding: .9em 1.1em;
    margin-top: 1.1em;
    }


    #ferramentas-metas {
    flex-direction: column;
    margin-top: 1em;
    }

    #ferramentas-metas div {
    margin: 0 auto ;
    }

    #ferramentas-metas img {
    padding: 12px;
    }

    #ferramentas-metas h3 {
    margin-top: 1.1em;
    }

    #ferramentas-metas p {
    margin: .5em;
    font-size: .9em;
    line-height: 20px;
    }

    #section-receitas {
        padding: .9em 1.1em;
        margin-top: 2.5em;
    }

    #section-receitas h2 {
        font-size: 2em;
    }

    #section-receitas p {
        width: 100%;
        font-size: .9em;
        line-height: 20px;
        margin-top: .3em;
    }

    #section-receitas img {
        width: 280px;
    }

    #section-receitas div {
        flex-direction: column;
        gap: 0;
    }

    #section-receitas article {
     margin: 1em auto;
     width: 280px;
    }

    #section-conecte {
    padding: .9em 1.1em;
    margin-top: 1.1em;
    margin-bottom: 2em;
    }

    #section-conecte h2 {
        font-size: 2em;
        width: 100%;
        line-height: 40px;
    }

    #section-conecte p {
        font-size: .9em;
        width: 100%;
    }

    #section-conecte img {
        width: 100%;
        margin-top: 1.4em;
    }
    #footer {
        line-height: 1.5em;
    }
}

