@font-face {
font-family: "Articulat";
    src: url('fonte/ArticulatCFHeavy.otf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .9em 9em;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.070);
    margin-bottom: 4.5em;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
}

#header article {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header p {
    color: #0066ee;
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
}

#header a {
    text-decoration: none;
}

#login {
    font-family: 'Articulat';
    color: black;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: 1px;
}

#main {
    max-width: 1345px;
    margin: 0 auto;
    padding-top: 130px;
}
#section-comece {
    display: flex;
    gap: 4em;
    padding: .9em 12em;
    align-items: center;
}

.section-comece_article h1 {
    font-family: 'Articulat';
    font-size: 3.8em;
    line-height: 63px;
    color: #212121;
    margin: .3em 0;
}

.section-comece_article p {
    line-height: 24px; 
    font-size: 1.05em;
    color: rgb(58, 58, 58);
    margin-bottom: 2em;
}

#section-comece img {
    width: 50%;
}

.section-comece_article a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #0066ee;
    padding: 1.1em 3.8em;
    color: white;
    border-radius: 4px;
}

.section-comece_article a:hover {
    background-color: #014fb6;
    transition: .4s;
}

#section-registro-alimento {
    display: flex;
    align-items: center;
    gap: 2em;
    padding: .9em 12em;
    margin-top: 4.5em;
}

#section-registro-alimento img {
    width: 44%;
}

#section-registro-alimento h2 {
    font-size: 3.1em;
    color: #212121;
    font-family: 'Articulat';
    line-height: 53px;
    margin-bottom: .3em;
}

#section-registro-alimento p {
    color: rgb(58, 58, 58);
    line-height: 25px;
    font-size: .97em;
    width: 94%;
}

#section-ferramentas_article {
    text-align: center;
    margin-top: 6em;
}

#section-ferramentas_article h2 {
    font-size: 3.1em;
    color: #212121;
    font-family: 'Articulat';
    line-height: 53px;
}

#section-ferramentas_article p {
    color: rgb(58, 58, 58);
    line-height: 25px;
    font-size: .97em;
    width: 38%;
    margin: 1em auto;
}

#ferramentas-metas {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#ferramentas-metas div {
    width: 300px;
    text-align: center;
    margin-top: 2em;
}

#ferramentas-metas img {
    padding: 30px;
    border-radius: 100%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.103);
}

#ferramentas-metas h3 {
    font-size: 1.3em;
    color: #212121;
    margin-top: 1.7em;
}

#ferramentas-metas p {
    color: rgb(58, 58, 58);
    line-height: 25px;
    font-size: 1em;
    width: 95%;
    margin: 0 auto;
    margin-top: 1.7em;
}

#section-receitas {
    text-align: center;
    margin-top: 6em;
}

#section-receitas div {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#section-receitas h2 {
    font-size: 3.1em;
    color: #212121;
    font-family: 'Articulat';
    line-height: 53px;
}

#section-receitas p {
    color: rgb(58, 58, 58);
    line-height: 25px;
    font-size: 1em;
    width: 50%;
    margin: 1em auto;
}

#section-receitas img {
    width: 300px;
    border-radius: 10px 10px 0px 0px;
}

#section-receitas article {
    margin-top: 2em;
    width: 300px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.200);
}

#section-receitas article a {
    text-decoration: none;
}

#section-receitas article h3 {
    font-size: 1.1em;
    width: 85%;
    text-align: left;
    padding: 1em .8em 0 1em;
    color: black;
}

#section-receitas article p {
    text-align: left;
    padding: .6em 1em .8em 1em;
    margin: 0;
    width: 100%;
    font-weight: bold;
    color: #0066ee;
}
#section-conecte {
    text-align: center;
    margin: 6em 0;
}
#section-conecte h2 {
    font-size: 3.1em;
    color: #212121;
    font-family: 'Articulat';
    line-height: 53px;
    width: 30%;
    margin: 0 auto;
}

#section-conecte p {
    color: rgb(58, 58, 58);
    line-height: 25px;
    font-size: 1em;
    width: 39%;
    margin: 1em auto;
}

#section-conecte img {
    width: 620px;
    margin-top: 1.4em;
}

#footer {
    text-align: center;
    background-color: #f6f6f8;
    padding: 1em;
}
#footer a {
        font-family: 'Articulat';
        color: black;
        text-transform: uppercase;
        font-size: .85em;
        letter-spacing: 1px;
        text-decoration: none;
        margin: 0 1em;
}